.title{
  margin-top: 2rem;
}
.newUser{
  display: grid;
  position: fixed;
  top:20%;
  left:20%; 
  grid-template-columns: 30rem 30rem;
  gap:0.5rem;

  
}
.newUser input{
  margin: 1rem 2rem;
  justify-self: center;
  max-height: 1rem;

}
.entry{
  display: grid;
  grid-template-columns:15rem 15rem ;
}
.entry label{
  justify-self: center;
  margin: 1rem 2rem;
  font-size: large;
  text-align: center;
}