body{
  font-family: "Montserrat";
  background-image: url("BG.jpg");
}
#navbarText{
  justify-content: center;
}

.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input_box{
  padding: 10px;
}

.option_field{
  padding: 10px;
}

