body{
  font-family: "Montserrat";
  background-image: url("mainBackgroundImage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
#navbarText{
  justify-content: center;
}
.container-fluid{
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input_box{
  padding: 10px;
}


#Button{
  margin: 0.75rem auto;
  font-size: 0.8rem;
  padding: 0.4rem;
}
.login_signup,.option_field{
  font-size: 0.75rem;
}
